[Unit]
Description=Run LagerPro status every 2 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=2h
Unit=lagerpro-cron.service

[Install]
WantedBy=timers.target
