@page "/"

<h1>LagerPro</h1>

<p>Velkommen til LagerPro - ditt lagerstyringssystem.</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Artikler</h5>
                <p class="card-text">Administrer artikler, priser og beholdning.</p>
                <a href="articles" class="btn btn-primary">Åpne</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lager</h5>
                <p class="card-text">Se lagerbeholdning per artikkel og lot.</p>
                <a href="inventory" class="btn btn-primary">Åpne</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mottak</h5>
                <p class="card-text">Motta råvarer fra leverandører.</p>
                <a href="mottak" class="btn btn-primary">Åpne</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Produksjon</h5>
                <p class="card-text">Opprett og håndter produksjonsordrer.</p>
                <a href="produksjon" class="btn btn-primary">Åpne</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Levering</h5>
                <p class="card-text">Send ordre til kunder.</p>
                <a href="levering" class="btn btn-primary">Åpne</a>
            </div>
        </div>
    </div>
</div>
