<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LagerPro</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="articles">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Artikler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="bi bi-stack" aria-hidden="true"></span> Lager
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mottak">
                <span class="bi bi-truck" aria-hidden="true"></span> Mottak
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produksjon">
                <span class="bi bi-hammer" aria-hidden="true"></span> Produksjon
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="levering">
                <span class="bi bi-send" aria-hidden="true"></span> Levering
            </NavLink>
        </div>
    </nav>
</div>
